In [1]:
import numpy as np
import pandas as pd

After finshing cleaning the dataset, we're going to be doing some basic, exploratory data analysis (EDA). 

### Some questions that I would like to investigate include:
1. Which car brand is most common?
2. Which car brand sells for the most amount of money on average?
3. Does the car's mileage impact it's sale price?
4. Do automatic or manual cars have a higher resale value?
5. Does the number of pictures that a listing has increase the sale price?
6. Which months have the highest average sale price?

We'll start by importing the clean data to a `df` variable and look at the `df.info()` and `df.describe()` methods.

In [2]:
df = pd.read_csv('autos_clean.csv')

In [3]:
df.head()

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pics,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000.0,control,bus,2004.0,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500.0,control,limousine,1997.0,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990.0,test,limousine,2009.0,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350.0,control,kleinwagen,2007.0,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350.0,test,kombi,2003.0,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48216 entries, 0 to 48215
Data columns (total 18 columns):
date_crawled          48216 non-null object
name                  48216 non-null object
price                 48216 non-null float64
ab_test               48216 non-null object
vehicle_type          43794 non-null object
registration_year     46344 non-null float64
gear_box              46012 non-null object
power_ps              48216 non-null int64
model                 45822 non-null object
odometer_km           48216 non-null int64
registration_month    48216 non-null int64
fuel_type             44338 non-null object
brand                 48216 non-null object
unrepaired_damage     39333 non-null object
ad_created            48216 non-null object
num_pics              48216 non-null int64
postal_code           48216 non-null int64
last_seen             48216 non-null object
dtypes: float64(2), int64(5), object(11)
memory usage: 6.6+ MB

In [7]:
df.describe(include='all')

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pics,postal_code,last_seen
count,48216,48216,48216.000000,48216,43794,46344.000000,46012,48216.000000,45822,48216.000000,48216.000000,44338,48216,39333,48216,48216.0,48216.000000,48216
unique,46564,37157,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,38227
top,2016-03-25 19:57:10,Ford_Fiesta,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,76,NaN,24821,12558,NaN,35922,NaN,3876,NaN,NaN,29196,10271,34704,1873,NaN,NaN,8
mean,NaN,NaN,5884.005973,NaN,NaN,2002.939000,NaN,117.636262,NaN,125936.100050,5.801767,NaN,NaN,NaN,NaN,0.0,50985.161254,NaN
std,NaN,NaN,8316.716166,NaN,NaN,7.125617,NaN,201.187354,NaN,39522.800119,3.677120,NaN,NaN,NaN,NaN,0.0,25738.275135,NaN
min,NaN,NaN,100.000000,NaN,NaN,1910.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,1250.000000,NaN,NaN,1999.000000,NaN,73.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30823.000000,NaN
50%,NaN,NaN,3000.000000,NaN,NaN,2003.000000,NaN,107.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49716.000000,NaN
75%,NaN,NaN,7499.000000,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71666.750000,NaN
max,NaN,NaN,198000.000000,NaN,NaN,2016.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

### Question 1: Which car brand is most common?

In [10]:
df.brand.value_counts()

volkswagen        10271
bmw                5241
opel               5223
mercedes_benz      4628
audi               4147
ford               3356
renault            2306
peugeot            1420
fiat               1252
seat                913
skoda               775
nissan              739
mazda               736
smart               690
citroen             682
toyota              611
hyundai             479
sonstige_autos      454
volvo               435
mini                417
mitsubishi          394
honda               387
kia                 343
alfa_romeo          320
suzuki              284
porsche             275
chevrolet           272
chrysler            168
dacia               129
daihatsu            121
jeep                108
subaru              101
land_rover           99
saab                 79
daewoo               75
jaguar               72
trabant              66
rover                65
lancia               54
lada                 29
Name: brand, dtype: int64

The first question is fairly straightforward ot answer using the `value_counts()` method. We can easily see that Volkswagen is the most commonly sold car brand on Ebay in our dataset. In fact, the top 5 brands sold on Ebay in our dataset are German carmakers. This is likely a result of this data originally being scraped from Ebay in Germany. Ford is the only American carmaker in the top 10 brands sold on Ebay in Germany.

### Question 2: Which car brand sells for the most amount of money on average?

Let's take the top 10 brands from the previous question for this analysis. We'll store the average sale price for each brand in a Pandas series object so that we can use the `sort_values()` method to determine the brand with the highest average sale price.

In [11]:
top_10_brands = df.brand.value_counts().index[:10]

In [12]:
top_10_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [43]:
brand_avg_price = pd.Series()

for brand in top_10_brands:
    total = df[df['brand'] == brand].price.sum()
    num_brand = df[df['brand'] == brand].shape[0]
    avg_price = total/num_brand
    brand_avg_price[brand] = avg_price

In [44]:
brand_avg_price

volkswagen       5366.032713
bmw              8216.190803
opel             2974.764503
mercedes_benz    8580.202247
audi             9259.510248
ford             3756.991955
renault          2450.901561
peugeot          3086.930282
fiat             2815.635783
seat             4348.652793
dtype: float64

In [47]:
brand_avg_price.sort_values(ascending=False)

audi             9259.510248
mercedes_benz    8580.202247
bmw              8216.190803
volkswagen       5366.032713
seat             4348.652793
ford             3756.991955
peugeot          3086.930282
opel             2974.764503
fiat             2815.635783
renault          2450.901561
dtype: float64

Voila! It looks like Audi cars resell with the highest average prices on Ebay in Germany.

### Question 3: Does the car's mileage impact it's sale price?

In [64]:
brand_avg_mileage = pd.Series()

for brand in top_10_brands:
    total = df[df['brand'] == brand].odometer_km.sum()
    num_brand = df[df['brand'] == brand].shape[0]
    avg_mileage = total/num_brand
    brand_avg_mileage[brand] = avg_mileage

In [65]:
brand_avg_mileage.sort_values(ascending=False)

bmw              132870.635375
mercedes_benz    131027.441659
audi             129604.533398
opel             129442.848937
volkswagen       129008.859897
renault          128261.058109
peugeot          127316.901408
ford             124360.846246
seat             122020.810515
fiat             117408.146965
dtype: float64

It looks like BMW cars sold on Ebay have had the highest average mileage in km.

Next, let's combine our average price and average mileage data for the top 10 brands in a single dataframe.

In [82]:
brand_avg_price_mileage = pd.DataFrame(brand_avg_price, columns=['mean_price'])

In [84]:
brand_avg_price_mileage['mean_mileage'] = brand_avg_mileage

In [85]:
brand_avg_price_mileage

                mean_price   mean_mileage
volkswagen     5366.032713  129008.859897
bmw            8216.190803  132870.635375
opel           2974.764503  129442.848937
mercedes_benz  8580.202247  131027.441659
audi           9259.510248  129604.533398
ford           3756.991955  124360.846246
renault        2450.901561  128261.058109
peugeot        3086.930282  127316.901408
fiat           2815.635783  117408.146965
seat           4348.652793  122020.810515

It doesn't appear that there is a significant impact of mileage on sale price, especially in the car brands that tend to sell for the highest prices.

### Question 4: Do automatic or manual cars have a higher resale value?

In [50]:
automatic_avg_price = (df[df['gear_box'] == 'automatik'].price.sum())/(df[df['gear_box'] == 'automatik'].price.shape[0])

In [51]:
manual_avg_price = (df[df['gear_box'] == 'manuell'].price.sum())/(df[df['gear_box'] == 'manuell'].price.shape[0])

In [52]:
automatic_avg_price

10800.342120911793

In [53]:
manual_avg_price

4651.511302266021

In [55]:
num_automatic_cars = df[df['gear_box'] == 'automatik'].price.shape[0]
num_manual_cars = df[df['gear_box'] == 'manuell'].price.shape[0]

In [60]:
print(f'Num automatic cars: {num_automatic_cars}')
print(f'Num manual cars: {num_manual_cars}')

Num automatic cars: 10090
Num manual cars: 35922

Wow! Automatic cars seem to resell at an average price multiple of over 2x compared to maual cars! That was not an expected finding. It is important to note that there are over 3 times more manual cars in the dataset compared to automatic cars. This may skew the average prices somewhat.

### Question 5: Does the number of pictures that a listing has increase the sale price?

In [63]:
df.num_pics.value_counts()

0    48216
Name: num_pics, dtype: int64

Unfortunately, it looks like this column actually contains no data at all...guess we won't be able to determine the impact of listing pictures on price.

### Question 6: Which months have the highest average sale price?

To better answer this question, let's create a new column in the df that stores just the month in numerical form that each listing was posted.

In [106]:
df['month_posted'] = df.ad_created.str[:10].str.split('-').str[1].astype(int)

In [107]:
df['month_posted']

0        3
1        4
2        3
3        3
4        4
        ..
48211    3
48212    3
48213    4
48214    3
48215    3
Name: month_posted, Length: 48216, dtype: int64

In [128]:
df.month_posted.describe()

count    48216.000000
mean         3.160071
std          0.379189
min          1.000000
25%          3.000000
50%          3.000000
75%          3.000000
max         12.000000
Name: month_posted, dtype: float64

In [124]:
months = df.month_posted.value_counts().index
months

Int64Index([3, 4, 2, 1, 12, 11, 9, 8, 6], dtype='int64')

Next, let's calculate the average price by month.

In [130]:
avg_price_by_month = pd.Series()

for month in months:
    total = df[df['month_posted'] == month].price.sum()
    num_listings = df[df['month_posted'] == month].shape[0]
    avg_price = total/num_listings
    print(f'{month}:{avg_price}')

3:5829.638455441621
4:6148.192193739534
2:7128.163934426229
1:8564.666666666666
12:1650.0
11:5499.0
9:9500.0
8:5200.0
6:47900.0

It looks like the month of June has the highest average sale price, but it seems extremely high relative to the other months. There was likely a single sale of an expensive vehicle durinig this month that has skewed the results.

This concludes the EDA for now! I may revisit this project more in the future, but I think I've gotten the practice that I was looking for!